# Distribution / packaging
build/
dist/
release_venv/
dev_venv/
pypi_test_venv/
MintAmazonTagger.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.DS_Store
chromedriver