This file tracks the last time a feature has been verified to be working by jprouty.

Amazon Login:

- Single user login - first time
- Single user login - return user
- Multiple user login - first time
- Multiple user login - return user

Amazon Order Reports:

- Default report duration works
- Repeat runs of tool do not fetch reports if already locally downloaded
- Repeat runs of tool do not request reports if already completed for the date range required (but not downloaded locally)

Mint:

- Tagger finds matches
- Tagger matches UI deep links to Amazon order details
- Tagger uploads changes successfully to Mint
- Tagger respects custom category selection for named item
